extends base.pug

block content
	h1.tc.f4.fw6.ph0.mh0 Weekly wage calculator 😳
	form.measure.center(action="/submit-form-post", method="post")
		.mt3
			label.db.fw6.lh-copy.f6 Upload your txt file here
			input.pa2.input-reset.ba.bg-transparent.hover-bg-black.hover-white.w-100(type="file", name="file", required)
		.mt3
		input.b.ph3.pv2.input-reset.ba.b--black.bg-transparent.grow.pointer.f6.dib(type="submit",name="sub")